{% extends "base.html" %}
{% block content %}

    <div class="flex justify-between items-center mb-4">
        <h1 class="text-3xl font-bold">Rooms</h1>
        <div class="flex space-x-2"><input placeholder="Search..."
                class="px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-gray-400"
                type="text"><button
                class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-secondary text-secondary-foreground hover:bg-secondary/80 h-10 px-4 py-2">Search</button>
        </div>
    </div>
    <div class="grid grid-cols-3 gap-4">
        <!-- loop through rooms -->
        {% for r in rooms %}
        <div class="rounded-lg border bg-card text-card-foreground shadow-sm w-full" data-v0-t="card">
            <div class="p-6"><img src="{{ r.image }}" alt="Placeholder image" class="h-[200px] w-full" width="200"
                    height="200" style="aspect-ratio: 200 / 200; object-fit: cover;"></div>
            <div class="items-center p-6 flex justify-between"><span class="font-bold">{{ r.name }}</span><a href="/room/{{ r.id }}"><button
                    class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary hover:bg-primary/90 h-10 px-4 py-2 text-gray-300 hover:text-gray-500 hover:underline"
                    href="/room/{{ r.id }}">
                    See room
                </button></a></div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
